<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <link rel="stylesheet" href="../../static/css/layui.css">
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript">
        $(function () {
            $(".stu_xuehao").blur(function () {
                var stu_xuehao = $("#stu_xuehao").val();
                $.post("/studentManage/findxuehao", {stu_xuehao: stu_xuehao}, function (data) {
                    console.log(data);
                });
            });
        });
    </script>
    <style>
        .layui-table {
            width: 40%;
        }

        .layui-table th {
            text-align: center;
            font-weight: 900;
        }

        .layui-table td {
            text-align: center;

        }
        #chooseDocker {
            display: none;
            padding: 30px 0 0 30px;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " th:if="${class.classIscurrent} == false">
                    <form class="layui-form layui-col-space5" th:action="@{|/studentManage/viewAddStudent/${classId}|}"
                          method="post">

                        <div class="layui-inline layui-show-xs-block">
                            <input id="stu_xuehao" type="text" name="stu_xuehao" placeholder="请输入学号" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-btn" type="submit" value="添加"/>
                        </div>
                    </form>
                </div>
                <div id="chooseDocker" style="display: none">
                    <form class="layui-form" lay-filter="dataform" id="dataform">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">学号:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="stuXuehao" id="stuXuehao" disabled autocomplete="off" value="该生为校外学生" class="layui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">姓名:</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="stuName" id="stuName" disabled autocomplete="off" class="layui-input" />
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">Docker地址:</label>
                            <div class="layui-input-inline">
                                <select name="dc_url" id="url" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">使用开始时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="dc_start_datetime" id="beginTime" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">使用结束时间:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="dc_end_datetime" id="endTime" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn" lay-filter="doSubmit" lay-submit="">修改</button>
                                <button type="button" class="layui-btn layui-btn-primary closeBtn">取消</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学号</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        <tr th:each="s:${student}">
                            <td th:text="${s.stuName}"></td>
                            <td th:text="${s.stuXuehao}"></td>
                            <td class="td-manage">
                                <a class="layui-btn" th:href="@{|/studentManage/deleteStuClass/${s.id}|}">删除</a>
                                <span th:if="${s.dockerState == true}">
                                    <button class="layui-btn layui-btn-normal dockerBtn" th:data-id="${s.id}">打开Docker</button>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 3%;margin-left: 37.5%;">
        <label class="layui-form-label"></label>
        <a class="layui-btn" th:href="@{/studentManage/classManage}">完成</a></div>
</div>
</body>
<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form,
        dialogIndex = null,currentId = null

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        $('.dockerBtn').click(function (e) {
            currentId = $(this).data('id')
            $.get('/studentManage/updateStuDocker/' + currentId, function (data) {
                $.each(JSON.parse(data), function (k, v) {
                    if (v.stuXuehao == '') {
                        $('#stuXuehao').val('该生为校外学生')
                    } else {
                        $('#stuXuehao').val(v.stuXuehao)
                    }
                    $('#stuName').val(v.stuName)
                    $('#beginTime').val(v.dc_start_datetime)
                    $('#endTime').val(v.dc_end_datetime)
                })
                dialogIndex = layer.open({
                    type: 1,
                    title: 'Docker修改',
                    area: ['500px', '450px'],
                    content: $('#chooseDocker'),
                    success: function () {
                        $('#url')[0].options.length = 0
                        $.get('/studentManage/dockerUrl', function (data) {
                            $('#url').append('<option value="metal" selected>不更改</option>')
                            $.each(JSON.parse(data), function (k, v) {
                                $.each(v, function (i, t) {
                                    $('#url').append("<option value='" + t.dc_url + "'>" + t.dc_url + '</option>')
                                })
                                form.render('select')
                            })
                        })
                    }
                })
            })
        })
        form.on('submit(doSubmit)', function () {
            let parm = $('#dataform').serialize()
            $.post('/studentManage/updateStuDocker/' + currentId, parm, function () {
                layer.close(dialogIndex)
            })
        })
        $('.closeBtn').click(function (e) {
            e.preventDefault()
            layer.close(dialogIndex)
            window.location.reload()
        })

    });


    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</html>