<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>docker管理</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			#pager {
				text-align: center;
			}
			.dialog-box {
				display: none;
				padding-top: 15px;
				padding-left: 5%;
				padding-right: 5%;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div>
				<button type="button" class="layui-btn layui-btn-sm" id="addUser">添加用户</button>
			</div>
			<table class="layui-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>学生ID</th>
						<th>Docker地址</th>
						<th>使用开始时间</th>
						<th>使用结束时间</th>
						<th>Docker使用状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="d:${dockerList}">
						<td th:text="${d.id}"></td>
						<td th:text="${d.stu_id}==0?'未分配学生':${d.stu_id}"></td>
						<td th:text="${d.dc_url}"></td>
						<td th:text="${d.dc_start_datetime}"></td>
						<td th:text="${d.dc_end_datetime}"></td>
						<td th:text="${d.dc_state}==true?'已使用':'未使用'"></td>
						<td>
							<button type="button" class="layui-btn layui-btn-sm layui-btn-normal editBtn" th:data-id="${d.id}">编辑</button>
							<button type="button" class="layui-btn layui-btn-sm layui-btn-danger delBtn" th:data-id="${d.id}">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pager"></div>
		</div>
		<div class="dialog-box" id="editDocker">
			<form class="layui-form" lay-filter="dataform" id="dataform">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">Docker地址:</label>
						<div class="layui-input-inline">
							<input type="text" name="dc_url" id="url" lay-verify="required" autocomplete="off" class="layui-input" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn layui-btn-sm" lay-filter="doSubmit" lay-submit>提交</button>
					</div>
				</div>
			</form>
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var index = null,
					dialogUrl = null,
					laypage = layui.laypage,
					layer = layui.layer,
					form = layui.form
				laypage.render({
					elem: 'pager',
					layout: ['count', 'prev', 'page', 'next'],
					curr: parseInt('[[${dockerList.number}]]') + 1,
					count: parseInt('[[${dockerList.totalElements}]]'),
					jump: function (obj, first) {
						if (!first) {
							window.location.href = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
						}
					}
				})
				$('#addUser').click(function (e) {
					e.preventDefault()
					index = layer.open({
						type: 1,
						title: 'Docker添加',
						shadeClose: false,
						area: '400px',
						shade: 0,
						content: $('#editDocker'),
						success: function () {
							$('#dataform')[0].reset()
							dialogUrl = '/studentManage/addDocker'
						}
					})
				})
				$('.editBtn').click(function (e) {
					e.preventDefault()
					var _id = $(this).data('id')
					indes = layer.open({
						type: 1,
						title: 'Docker修改',
						shadeClose: false,
						area: '400px',
						shade: 0,
						content: $('#editDocker'),
						success: function () {
							dialogUrl = '/studentManage/updateDocker/' + _id
							$.get('/studentManage/getDocker/' + _id, function (data) {
								$.each(JSON.parse(data), function (k, v) {
									$('#url').val(v.dc_url)
								})
							})
						}
					})
				})
				$('.delBtn').click(function (e) {
					e.preventDefault()
					var _id = $(this).data('id')
					layer.confirm('确定删除吗？', function () {
						$.post('/studentManage/delDocker/' + _id, function () {
							window.location.reload()
						})
					})
				})
				form.on('submit(doSubmit)', function () {
					$.post(dialogUrl, $('#dataform').serialize(), function () {
						layer.close(index)
						window.location.reload()
					})
					return false
				})
			})
		</script>
	</body>
</html>
