<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>学生账号管理</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			#pager {
				text-align: center;
			}
			#chooseDocker {
				display: none;
				padding: 30px 0 0 30px;
			}
			.layui-form-label {
				width: 100px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form" th:action="@{/studentManage/list}" method="get">
				<div class="layui-input-inline">
					<input type="text" name="stu_xuehao" placeholder="请输入学号" autocomplete="off" class="layui-input" style="height: 30px;" th:value="${stu_xuehao}" />
				</div>
				<div class="layui-input-inline">
					<button type="submit" class="layui-btn layui-btn-sm" lay-submit>搜索</button>
				</div>
			</form>
			<table class="layui-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>登陆账号</th>
						<th>真实姓名</th>
						<th>学号</th>
						<th>手机号</th>
						<th>是否本校</th>
						<th>班级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="person:${studentList}">
						<td th:text="${person.id}"></td>
						<td th:text="${person.stuUname}"></td>
						<td th:text="${person.stuName}"></td>
						<td th:text="${person.stuXuehao}"></td>
						<td th:text="${person.stuMobile}"></td>
						<td th:text="${person.stuIsinschool == true?'是':'否'}"></td>
						<td th:text="${person.className == null?'暂无班级':person.className}"></td>
						<td>
							<button type="button" class="layui-btn layui-btn-sm editBtn" th:data-id="${person.id}">编辑</button>
							<button type="button" class="layui-btn layui-btn-sm dockerBtn" th:data-id="${person.id}">Docker调整</button>
							<button type="button" class="layui-btn layui-btn-sm layui-btn-danger delBtn" th:data-id="${person.id}">删除</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pager"></div>
			<div id="chooseDocker">
				<form class="layui-form" lay-filter="dataform" id="dataform">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">学号:</label>
							<div class="layui-input-inline">
								<input type="text" name="stuXuehao" id="stuXuehao" disabled autocomplete="off" value="该生为校外学生" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">姓名:</label>
							<div class="layui-input-inline">
								<input type="text" name="stuName" id="stuName" disabled autocomplete="off" class="layui-input" />
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">Docker地址:</label>
						<div class="layui-input-inline">
							<select name="dc_url" id="url" autocomplete="off"></select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">使用开始时间:</label>
						<div class="layui-input-inline">
							<input type="text" name="dc_start_datetime" id="beginTime" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">使用结束时间:</label>
						<div class="layui-input-inline">
							<input type="text" name="dc_end_datetime" id="endTime" class="layui-input" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"></label>
						<div class="layui-input-inline">
							<button type="button" class="layui-btn" lay-filter="doSubmit" lay-submit="">修改</button>
							<button type="button" class="layui-btn layui-btn-primary closeBtn">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script th:inline="javascript">
			$(function () {
				var layer = layui.layer,
					form = layui.form,
					laypage = layui.laypage,
					laydate = layui.laydate,
					dialogIndex = null,
					currentId = null
				laypage.render({
					elem: 'pager',
					layout: ['count', 'prev', 'page', 'next'],
					curr: parseInt('[[${studentList.number}]]') + 1,
					count: parseInt('[[${studentList.totalElements}]]'),
					jump: function (obj, first) {
						if (!first) {
							var _str = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
							var _username = getUrlParam('stu_xuehao')
							if (_username) {
								_str += '&stu_xuehao=' + _username
							}
							window.location.href = _str
						}
					}
				})
				laydate.render({
					elem: '#beginTime',
					type: 'datetime',
					value: new Date()
				})
				laydate.render({
					elem: '#endTime',
					type: 'datetime'
				})
				$('.editBtn').click(function (e) {
					e.preventDefault()
					var _id = $(this).data('id')
					layer.open({
						type: 2,
						title: '编辑',
						area: ['500px', '500px'],
						content: '/studentManage/editStudent/' + _id
					})
				})
				$('.dockerBtn').click(function (e) {
					e.preventDefault()
					currentId = $(this).data('id')
					$.get('/studentManage/updateStuDocker/' + currentId, function (data) {
						$.each(JSON.parse(data), function (k, v) {
							if (v.stuXuehao == '') {
								$('#stuXuehao').val('该生为校外学生')
							} else {
								$('#stuXuehao').val(v.stuXuehao)
							}
							$('#stuName').val(v.stuName)
							$('#beginTime').val(v.dc_start_datetime)
							$('#endTime').val(v.dc_end_datetime)
						})
						dialogIndex = layer.open({
							type: 1,
							title: 'Docker修改',
							area: ['500px', '450px'],
							content: $('#chooseDocker'),
							success: function () {
								$('#url')[0].options.length = 0
								$.get('/studentManage/dockerUrl', function (data) {
									$('#url').append('<option value="metal" selected>不更改</option>')
									$.each(JSON.parse(data), function (k, v) {
										$.each(v, function (i, t) {
											$('#url').append("<option value='" + t.dc_url + "'>" + t.dc_url + '</option>')
										})
										form.render('select')
									})
								})
							}
						})
					})
				})
				$('.delBtn').click(function (e) {
					e.preventDefault()
					var _id = $(this).data('id')
					layer.confirm('确定要删除该学生吗？这将会删除他的所有相关记录', function () {
						$.get('/studentManage/deleteStudent/' + _id, function () {
							location.reload()
						})
					})
				})
				form.on('submit(doSubmit)', function () {
					let parm = $('#dataform').serialize()
					$.post('/studentManage/updateStuDocker/' + currentId, parm, function () {
						layer.close(dialogIndex)
					})
				})
				$('.closeBtn').click(function (e) {
					e.preventDefault()
					layer.close(dialogIndex)
					window.location.reload()
				})
			})
			function getUrlParam(name) {
				var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)')
				var r = window.location.search.substr(1).match(reg)
				if (r != null) return decodeURI(r[2])
				return null
			}
		</script>
	</body>
</html>
