<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>成绩 - 四川旅游学院虚拟仿真实验教学管理平台</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<link rel="stylesheet" href="../../static/new/css/grade.css" />
		<style>
			.layui-form-label {
				width: auto;
				padding-left: 0;
			}
			.layui-table {
				margin: 0;
			}
			#pager {
				text-align: center;
			}
		</style>
	</head>
	<body>
<!--		<a class="grade-card">-->
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">所属课程</label>
					<div class="layui-input-inline">
						<select name="interest" lay-filter="id">
							<option value="/grade/studentlastper/-1">请选择</option>
							<option th:each="totalScorePass:${totalScorePast}" th:selected="${totalScorePass.courseId == courseinfoId}" th:value="|/grade/studentlastper/${totalScorePass.courseId}|" th:text="${totalScorePass.courseName}"></option>
						</select>
					</div>
				</div>
			</form>
			<div class="layui-input-inline">
				<a th:href="${selected1}" class="layui-btn">考核实验模块成绩</a>
				<a th:href="${selected2}" class="layui-btn layui-btn-primary">总评成绩</a>
			</div>
			<div>
				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>考核实验名称</th>
							<th>实验模块测试成绩</th>
							<th>实验模块测试占比</th>
							<th>实验模块报告成绩</th>
							<th>实验模块报告占比</th>
							<th>实验模块总成绩</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="moduleGrade:${ModuleGrades}">
							<td th:text="${moduleGrade.m_id}"></td>
							<td th:text="${moduleGrade.m_name}"></td>
							<td th:text="${moduleGrade.m_test_score}"></td>
							<td th:text="${moduleGrade.m_test_baifenbi}"></td>
							<td th:text="${moduleGrade.m_report_score}"></td>
							<td th:text="${moduleGrade.m_report_baifenbi}"></td>
							<td th:text="${moduleGrade.m_score}"></td>
						</tr>
					</tbody>
				</table>
				<p class="ps">注：考核实验模块成绩：考核实验模块测试成绩*比例+考核实验模块报告成绩*比例=考核实验模块成绩。</p>
			</div>

		<script src="//cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				$('.card-tab').click(function (e) {
					e.preventDefault()
					var _tab = $(this).data('tab')
					$('.card-tab').removeClass('active')
					$(this).addClass('active')
					$('.card-content').hide()
					$('.content' + _tab).show()
				})
				$('.card-tab')[0].click()
			})
			$(function () {
				var form = layui.form,
					laypage = layui.laypage
				form.on('select(id)', function (data) {
					if (data.value) {
						window.location.href = data.value
					}
				})
			})
		</script>
	</body>
</html>
