<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>总评成绩</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			.layui-input-inline {
				width: auto;
			}
			.layui-form-label {
				padding-left: 0;
				text-align: left;
				width: auto;
			}
			#pager {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<a href="/totalscore/list" class="layui-btn">当期</a>
						<a href="/passTotalscore/list/0/0" class="layui-btn layui-btn-primary">往期</a>
					</div>
					<label class="layui-form-label">课程与班级</label>
					<div class="layui-input-inline">
						<select lay-filter="url">
							<option value="">请选择课程与班级</option>
							<option th:each="arrangeInfo:${arrangeInfoDTOs}" th:value="|/totalscore/report/${arrangeInfo.getArrangeId()}|" th:text="${arrangeInfo.getCourseName()+'-'+arrangeInfo.getClassName()}" th:selected="${arrangeInfo.getArrangeId() eq selected}"></option>
						</select>
					</div>
					<div class="layui-input-inline" th:if="${Choose}">
						<button type="button" class="layui-btn" id="saveBtn" th:data-url="@{|/totalscore/guhuaall/${arrageId}|}">将当期成绩全部存入往期成绩</button>
					</div>
				</div>
			</form>
			<form th:if="${Choose}" class="layui-form" action="/totalscore/GreatestWeight" method="POST">
				<input type="hidden" name="arrageId" th:value="${arrageId}" />
				<div class="layui-form-item">
					<label class="layui-form-label">模块占比</label>
					<div class="layui-input-inline">
						<input type="text" name="kaoheBaifenbi" lay-verify="required|grade" autocomplete="off" class="layui-input" th:value="${kaoheBaifenbi}" />
					</div>
					<label class="layui-form-label">理论占比</label>
					<div class="layui-input-inline">
						<input type="text" name="testBaifenbi" lay-verify="required|grade" autocomplete="off" class="layui-input" th:value="${testBaifenbi}" />
					</div>
					<div class="layui-input-inline">
						<button type="submit" class="layui-btn" lay-submit>修改</button>
					</div>
				</div>
			</form>
			<table class="layui-table">
				<thead>
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>班级</th>
						<th>模块考核总成绩</th>
						<th>理论测试总成绩</th>
						<th>总评成绩</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="one:${pageTotalScore}">
						<td><p th:text="${one.xuehao}">12345678</p></td>
						<td><p th:text="${one.sName}">张三</p></td>
						<td><p th:text="${one.className}">18信管01</p></td>
						<td><p th:text="${one.mTotalScore}">87</p></td>
						<td><p th:text="${one.testScore}">87</p></td>
						<td><p th:text="${one.totalScore}">78</p></td>
					</tr>
				</tbody>
			</table>
			<div id="pager"></div>
			<input type="hidden" id="totalPage" th:value="${pageTotalScore.getTotalPages()}" />
			<input type="hidden" id="currentPage" th:value="${pageTotalScore.pageable.getPageNumber()}" />
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var form = layui.form,
					layer = layui.layer,
					laypage = layui.laypage
				laypage.render({
					elem: 'pager',
					curr: parseInt($('#currentPage').val())+1,
					count: parseInt($('#totalPage').val()) * 10,
					jump: function (obj, first) {
						if (!first) {
							window.location.href = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
						}
					}
				})
				form.on('select(url)', function (data) {
					if (data.value) {
						window.location.href = data.value
					}
				})
				form.verify({
					grade: [/^(1|(0(.\d{1,10})?))$/, '请输入0-1之间的数']
				})
				$('#saveBtn').click(function (e) {
					e.preventDefault()
					layer.confirm(
						'将当前选择班级成绩存入往期，是在该班级所有学生完成本门课程考核后进行的操作，操作后教师和学生将不能再对本次班级的课程进行操作。此操作为不可逆操作。',
						{
							btn: ['确定', '取消']
						},
						function () {
							window.location.href = $('#saveBtn').data('url')
						}
					)
				})
			})
		</script>
	</body>
</html>
