<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>总评成绩</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			#pager {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<a href="/totalscore/list" class="layui-btn layui-btn-primary">当期</a>
						<a href="/passTotalscore/list" class="layui-btn">往期</a>
					</div>
					<label class="layui-form-label">课程与班级</label>
					<div class="layui-input-inline">
						<select name="course" lay-filter="course" lay-verify="required">
							<option value="">请选择课程</option>
							<option th:each="course:${courseList}" th:value="${course.id}" th:text="${course.courseName}" th:selected="${course.id == courseId}"></option>
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="class" id="class" lay-verify="required">
							<option value="">请选择班级</option>
						</select>
					</div>
					<div class="layui-input-inline"><a href="/passTotalscore/exportExcel" class="layui-btn" th:if="${Choose}">导出表格</a></div>
				</div>
			</form>
			<table class="layui-table">
				<thead>
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>班级</th>
						<th>模块考核总成绩</th>
						<th>理论测试总成绩</th>
						<th>总评成绩</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="one:${pageTotalScore}">
						<td th:text="${one.xuehao}"></td>
						<td th:text="${one.sName}"></td>
						<td th:text="${one.className}"></td>
						<td th:text="${one.mTotalScore}"></td>
						<td th:text="${one.testScore}"></td>
						<td th:text="${one.totalScore}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var form = layui.form,
					_courseId = '[[${courseId}]]',
					_classId = '[[${classId}]]'
				if (_courseId) {
					getClassList(_courseId)
				}
				form.on('select(course)', function (data) {
					if (data.value) {
						getClassList(data.value)
					} else {
						$('#class').empty().append('<option value="">请选择班级</option>')
					}
				})
				function getClassList(courseId) {
					$.get('/passTotalscore/findClassByCourse/' + courseId, function (data) {
						var _clist = JSON.parse(data)
						$('#class').empty().append('<option value="">请选择班级</option>')
						$.each(_clist.data, function (i, e) {
							if (e.classId == _classId) {
								$('#class').append('<option value="' + e.classId + '" selected>' + e.className + '</option>')
							} else {
								$('#class').append('<option value="' + e.classId + '">' + e.className + '</option>')
							}
						})
						form.render('select')
					})
				}
			})
		</script>
	</body>
</html>
