<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>考核实验设置</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			.layui-form-item .layui-input-inline {
				width: auto;
			}
			.layui-form-label {
				width: auto;
				padding-left: 0;
			}
			#pager {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<a th:href="${selected2}" class="layui-btn">考核模块</a>
						<a th:href="${selected1}" class="layui-btn layui-btn-primary">全部模块</a>
					</div>
					<label class="layui-form-label">课程班级</label>
					<div class="layui-input-inline">
						<select name="interest" lay-filter="id">
							<option value="">请选择课程班级</option>
							<option th:each="arrangeInfo:${arrangeInfoDTOs}" th:selected="${arrangeInfo.getArrangeId() == selected}" th:value="|/kaohemodel/checkModule/${arrangeInfo.getArrangeId()}|" th:text="${arrangeInfo.getCourseName()+'-'+arrangeInfo.getClassName()}"></option>
						</select>
					</div>
				</div>
			</form>
			<table class="layui-table" th:if="${Choose}">
				<thead>
					<tr>
						<th>ID</th>
						<th>实验名</th>
						<th>实验目的</th>
						<th>课时</th>
						<th>测试成绩占比</th>
						<th>报告成绩占比</th>
						<th>权重</th>
						<th>序号</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kaoheModel:${kaoheModelPageInfo.content}">
						<td th:text="${kaoheModel.id}"></td>
						<td th:text="${kaoheModel.Experiment_name}"></td>
						<td th:text="${kaoheModel.shiyan_Purpose}"></td>
						<td th:text="${kaoheModel.m_id}"></td>
						<td th:text="${kaoheModel.m_test_baifenbi}"></td>
						<td th:text="${kaoheModel.m_report_baifenbi}"></td>
						<td th:text="${kaoheModel.m_scale}"></td>
						<td th:text="${kaoheModel.m_order}"></td>
						<td>
							<a class="layui-btn layui-btn-sm updateBtn" th:data-url="@{|/kaohemodel/${kaoheModel.id}/update|}">修改</a>
							<a class="layui-btn layui-btn-sm layui-btn-danger delBtn" th:data-url="@{|/kaohemodel/${kaoheModel.id}/${selected}/delete|}">移出考核</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pager" th:if="${Choose}"></div>
			<input type="hidden" id="totalPage" th:if="${Choose}" th:value="${kaoheModelPageInfo.getTotalPages()}" />
			<input type="hidden" id="currentPage" th:if="${Choose}" th:value="${kaoheModelPageInfo.pageable.getPageNumber()}" />
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var form = layui.form,
					laypage = layui.laypage
				laypage.render({
					elem: 'pager',
					curr: parseInt($('#currentPage').val()),
					count: parseInt($('#totalPage').val()) * 10,
					jump: function (obj, first) {
						if (!first) {
							window.location.href = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
						}
					}
				})
				form.on('select(id)', function (data) {
					if (data.value) {
						window.location.href = data.value
					}
				})
				$('.delBtn').click(function (e) {
					e.preventDefault()
					var _url = $(this).data('url')
					layer.confirm(
						'确认要删除吗？',
						{
							btn: ['确认', '取消']
						},
						function () {
							window.location.href = _url
						}
					)
				})
				$('.updateBtn').click(function (e) {
					e.preventDefault()
					var _url = $(this).data('url')
					layer.open({
						type: 2,
						area: ['500px', '550px'],
						content: _url
					})
				})
			})
		</script>
	</body>
</html>
