<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>添加账号</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			.layui-form {
				padding: 20px;
			}
			.layui-form-label {
				text-align: left;
			}
		</style>
	</head>
	<body>
		<form class="layui-form" id="updateForm" method="POST" th:action="@{update}" th:object="${kaohemodel}">
			<div class="layui-form-item">
				<label class="layui-form-label">实验名称</label>
				<div class="layui-input-block">
					<p th:text="${kaohemodel.experiment_name}" style="line-height: 38px;"></p>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">测试成绩占比</label>
				<div class="layui-input-block">
					<input type="text" th:value="${kaohemodel.m_test_baifenbi}" name="m_test_baifenbi" lay-verify="required|grade" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">报告成绩占比</label>
				<div class="layui-input-block">
					<input type="text" th:value="${kaohemodel.m_report_baifenbi}" name="m_report_baifenbi" lay-verify="required|grade" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">权重</label>
				<div class="layui-input-block">
					<input type="text" th:value="${kaohemodel.m_scale}" name="m_scale" lay-verify="required|grade" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">序号</label>
				<div class="layui-input-block">
					<input type="number" th:value="${kaohemodel.m_order}" name="m_order" lay-verify="required" autocomplete="off" class="layui-input" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">开始时间</label>
				<div class="layui-input-block">
					<input th:value="${#dates.format(kaohemodel.kaohe_starttime,'yyyy-MM-dd hh:mm:ss')}" name="arrangeStart" lay-verify="required" type="text" class="layui-input" id="date1" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">结束时间</label>
				<div class="layui-input-block">
					<input th:value="${#dates.format(kaohemodel.kaohe_endtime,'yyyy-MM-dd hh:mm:ss')}" name="arrangeEnd" lay-verify="required" type="text" class="layui-input" id="date2" />
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="button" class="layui-btn" lay-submit lay-filter="updateBtn">修改</button>
					<button type="button" class="layui-btn layui-btn-primary" id="closeIframe">返回</button>
				</div>
			</div>
		</form>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var form = layui.form,
					layer = layui.layer,
					laydate = layui.laydate
				var index = parent.layer.getFrameIndex(window.name)
				laydate.render({
					elem: '#date1',
					type: 'datetime'
				})
				laydate.render({
					elem: '#date2',
					type: 'datetime'
				})
				$('#closeIframe').click(function () {
					parent.layer.close(index)
				})
				form.verify({
					grade: [/^(1|(0(.\d{1,10})?))$/, '请输入0-1之间的数']
				})
				form.on('submit(updateBtn)', function (data) {
					var _d = $('#updateForm').serialize()
					$.post(window.location.href + '?' + _d, function (data) {
						if (data) {
							parent.layer.close(index)
						}
					})
					return false
				})
			})
		</script>
	</body>
</html>
