<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>完成进度2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/layui.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>

</head>
<style>
    .text-overflow {
        display:block;/*内联对象需加*/
        width:31em;/*指定宽度*/
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* IE 专有属性，当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
    }

    table{
        width:30em;
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }
    .layui-table th{
        text-align: center;
        font-weight: 900;
    }
    td{
        text-align: center;
        width:100%;
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
    }
</style>

<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <!--<div class="layui-container" >-->
                            <div class="layui-row layui-col-space20">
                                <div class="layui-col-md9">
                                    <table class="layui-table" lay-size="sm">
                                        <colgroup>
                                            <col width="150">
                                            <col width="200">
                                            <col>
                                        </colgroup>

                                        <tbody>
                                        <tr>
                                            <td>总人数：<span th:text="${totalStuNum}"></span>人</td>
                                            <td>模块测试：<span th:text="${totalStuNum - testStateFalseNum}"></span>人提交；<span th:text="${testStateFalseNum}"></span>人未提交</td>
                                            <td>模块报告：<span th:text="${totalStuNum - reportStateFalseNum}"></span>人提交；<span th:text="${reportStateFalseNum}"></span>人未提交</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="layui-col-md2 ">
                                    <div class="layui-inline layui-show-xs-block">
                                        <a  class="layui-btn"  lay-submit="" lay-filter="sreach">返回</a>
                                        <a  class="layui-btn layui-btn-normal"  lay-submit="" lay-filter="sreach">导出成绩</a>

                                    </div>
                                </div>
                            </div>
                        <!--</div>-->



                    </form>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>

                            <th>学号</th>
                            <th>姓名</th>
                            <th>班级</th>
                            <th>模块名</th>
                            <th>模块测试状态</th>
                            <th>模块测试成绩</th>
                            <th>模块报告状态</th>
                            <th>模块报告评分状态</th>
                            <th>模块报告成绩</th>
                            <th>教师报告评分</th>
                            <th>模块总成绩</th>
                        </thead>
                        <tbody>
                        <tr th:each="m:${pro}">
                            <td th:text="${m.stu_xuehao}">1806101012</td>
                            <td th:text="${m.stu_name}">李</td>
                            <td th:text="${m.class_name}">3班</td>
                            <td th:text="${m.m_name}">java</td>
                            <td th:text="${m.m_teststate}==true?'完成':'未完成'">完成</td>
                            <td th:text="${m.m_test_score}">18</td>
                            <td th:text="${m.m_reportstate}==true?'完成':'未完成'">完成</td>
                            <td th:text="${m.mReportteacherstate}==true?'完成':'未完成'">完成</td>
                            <td th:text="${m.m_report_score}">20</td>
                            <td>
                                <a class="layui-btn layui-btn-primary" lay-submit>评分</a>
                            </td>
                            <td th:text="${m.m_score}">20</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
<!--                    <div class="page">-->
<!--                        <div>-->
<!--                            <a class="prev" href="">&lt;&lt;</a>-->
<!--                            <a class="num" href="">1</a>-->
<!--                            <span class="current">2</span>-->
<!--                            <a class="num" href="">3</a>-->
<!--                            <a class="num" href="">489</a>-->
<!--                            <a class="next" href="">&gt;&gt;</a>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div style="margin:0 auto; width: 80%; text-align: center;">
                        <p>当前 <span th:text="${pro.number}+1"></span> 页,
                            总 <span th:text="${pro.totalPages}"></span> 页,
                            共 <span th:text="${pro.totalElements}"></span> 条记录</p>
                        <a th:href="@{|/expmodel/kaoheProgressQuery/${mid}}">首页</a>
                        <a th:href="@{|/expmodel/kaoheProgressQuery/${mid}(pageNum=${pro.hasPrevious()}?${pro.number}-1:0)}">上一页</a>
                        <a th:href="@{|/expmodel/kaoheProgressQuery/${mid}(pageNum=${pro.hasNext()}?${pro.number}+1:${pro.number})}">下一页</a>
                        <a th:href="@{|/expmodel/kaoheProgressQuery/${mid}(pageNum=${pro.totalPages}-1)}">尾页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>