<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>模块测试成绩管理</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			.layui-form-label {
				width: auto;
				padding-left: 0;
			}
			#pager {
				text-align: center;
			}
			.layui-btn{
				float: right;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form" style="float: left">
				<div class="layui-form-item">
					<label class="layui-form-label">课程班级</label>
					<div class="layui-input-inline">
						<select name="interest" lay-filter="id">
							<option value="">请选择课程班级</option>
							<option th:each="arrangeInfo:${arrangeInfoDTOs}" th:value="|/reportScoreManage/report/${arrangeInfo.getArrangeId()}|" th:text="${arrangeInfo.getCourseName()+'-'+arrangeInfo.getClassName()}" th:selected="${arrangeInfo.getArrangeId() == selected}"></option>
						</select>
					</div>
				</div>
			</form>
			<a class="layui-btn" type="button" th:if="${Choose}" th:href="@{|/reportScoreManage/kaoheModelList/${arrangeId}|}">导出实验报告</a>
			<table class="layui-table" th:if="${Choose}">
				<thead>
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>班级ID</th>
						<div th:each="a:${numList}">
							<th>模块名</th>
							<th>报告成绩</th>
							<th>状态</th>
							<th>操作</th>
						</div>
					</tr>
				</thead>
				<tbody>
					<div th:each="class:${classList}">
						<tr th:each="one:${allStu}" th:if="${one.getClassId()} == ${class.getClassId()}">
							<td th:text="${one.getStuXuehao()}" style="margin-left: -35%;"><</td>
							<td th:text="${one.getStuName()}"></td>
							<td th:text="${one.getClassId()}"></td>
							<div th:each="stuInfo,stat:${allInfo}" th:if="${stuInfo.getSid()} == ${one.getId()}">
								<td th:if="${stat.index >= 0}" th:text="${stuInfo.getmName()}"></td>
								<td th:if="${stat.index >= 0}" th:text="${stuInfo.getmScore()}"></td>
								<td th:if="${stat.index >= 0}" th:text="${stuInfo.isDone()}?'完成':'未完成'"></td>
								<td th:if="${stat.index >= 0}">
									<div th:if="${stuInfo.isDone()}">
										<a class="layui-btn" th:href="|/TreportGrade/${one.getId()}/${stuInfo.getMid()}/${selected}/giveMark|" th:if="not ${stuInfo.isReportType()}">自定义版评分</a>
										<a class="layui-btn" th:href="|/collegereportmark/${stuInfo.getMid()}/${one.getId()}/${selected}|" th:if="${stuInfo.isReportType()}">学院版评分</a>
									</div>
									<div th:if="not ${stuInfo.isDone()}">
										<button class="layui-btn">学生未完成</button>
									</div>
								</td>
							</div>
						</tr>
					</div>
				</tbody>
			</table>
			<div id="pager" th:if="${Choose}"></div>
			<input type="hidden" id="totalPage" th:if="${Choose}" th:value="${allStu.getTotalPages()}" />
			<input type="hidden" id="currentPage" th:if="${Choose}" th:value="${allStu.pageable.getPageNumber()}" />
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script th:inline="javascript">
			$(function () {
				var form = layui.form,
					laypage = layui.laypage
				laypage.render({
					elem: 'pager',
					curr: parseInt($('#currentPage').val()),
					count: parseInt($('#totalPage').val()) * 10,
					jump: function (obj, first) {
						if (!first) {
							window.location.href = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
						}
					}
				})
				form.on('select(id)', function (data) {
					if (data.value) {
						window.location.href = data.value
					}
				})
			})
		</script>
	</body>
</html>
