<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>修改实验模块</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			.layui-form {
				width: 600px;
			}
			.preview-box {
				margin-top: 10px;
			}
			.preview-box img {
				display: block;
				border: 1px solid #ccc;
				max-width: 400px;
				max-height: 300px;
				padding: 5px;
				box-sizing: border-box;
			}
			.layui-form-label {
				width: 120px;
			}
			.layui-input-block {
				margin-left: 150px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<form class="layui-form" th:action="@{|/expmodel/updateExpModel/${preExpModel.m_id}|}" method="post" enctype="multipart/form-data" th:object="${preExpModel}">
				<input type="hidden" name="report_type" th:value="${preExpModel.report_type}" />
				<div class="layui-form-item">
					<label class="layui-form-label">实验名称：</label>
					<div class="layui-input-block">
						<input type="text" name="m_name" lay-verify="required" autocomplete="off" class="layui-input" th:value="${preExpModel.m_name}" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">实验简介图片:</label>
					<div class="layui-input-block">
						<label for="fileInput" class="layui-btn"><i class="layui-icon layui-icon-upload"></i>上传图片</label>
						<input type="file" name="m_image" id="fileInput" style="display: none;" />
						<div class="preview-box">
							<img class="layui-upload-img" id="preview" th:src="${image}" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">实验负责人:</label>
					<div class="layui-input-block">
						<input type="text" name="m_manager" lay-verify="required" autocomplete="off" class="layui-input" th:value="${preExpModel.m_manager}" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">实验类型：</label>
					<div class="layui-input-block">
						<select name="m_type" lay-verify="required" th:value="${preExpModel.m_type}">
							<option value="综合实操" selected>综合实操</option>
							<option value="理论验证">理论验证</option>
							<option value="拓展创新">拓展创新</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">课时：</label>
					<div class="layui-input-block">
						<input type="text" name="m_classhour" lay-verify="required" autocomplete="off" class="layui-input" th:value="${preExpModel.classhour}" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">实验平台链接：</label>
					<div class="layui-input-block">
						<input type="text" name="m_inurl" lay-verify="required" autocomplete="off" class="layui-input" th:value="${preExpModel.m_inurl}" />
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="submit" class="layui-btn" lay-submit>修改</button>
						<a class="layui-btn layui-btn-primary" href="/expmodel/list">取消</a>
						<a class="layui-btn" th:href="@{|/expmodel/updateExpTheory/${preExpModel.m_id}|}">修改理论学习</a>
					</div>
				</div>
			</form>
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				$('#fileInput').live('change', function () {
					$('#preview').attr('src', URL.createObjectURL(this.files[0]))
				})
			})
		</script>
	</body>
</html>
