<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>标题</title>
		<link rel="stylesheet" href="../../static/new/css/reset.css" />
		<link rel="stylesheet" href="//cdn.staticfile.org/layui/2.5.6/css/layui.min.css" />
		<style>
			body {
				padding: 20px;
				background: #f7f7f7;
			}
			.layui-fluid {
				padding: 20px;
				background: #fff;
			}
			#pager {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div>
				<a class="layui-btn layui-btn-sm" href="/shiyan/addQuest">新建</a>
				<a class="layui-btn layui-btn-sm layui-btn-primary" href="/expmodel/moduleList">返回</a>
			</div>
			<table class="layui-table">
				<thead>
					<tr>
						<th>问题序号</th>
						<th>题目</th>
						<th>分值(链接)</th>
						<th>实验模块号</th>
						<th>问题类型</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Quest:${questsPage.content}">
						<td th:text="${Quest.questOrder}"></td>
						<td th:text="${Quest.questDescribe}"></td>
						<td th:text="${Quest.questScore}"></td>
						<td th:text="${Quest.mId}"></td>
						<td th:text="${Quest.questType}"></td>
						<td>
							<a class="layui-btn layui-btn-sm" th:href="@{|/shiyan/updateQuest/${Quest.questId}|}">修改</a>
							<a class="layui-btn layui-btn-sm delBtn" th:data-id="${Quest.questId}">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="pager"></div>
			<input type="hidden" id="totalCount" th:value="${questsPage.totalElements}" />
			<input type="hidden" id="currentPage" th:value="${questsPage.number}" />
		</div>
		<script src="//cdn.staticfile.org/jquery/1.8.0/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/layui/2.5.6/layui.all.min.js"></script>
		<script>
			$(function () {
				var layer = layui.layer,
					laypage = layui.laypage
				laypage.render({
					elem: 'pager',
					layout: ['count', 'prev', 'page', 'next'],
					curr: parseInt($('#currentPage').val()) + 1,
					count: parseInt($('#totalCount').val()),
					jump: function (obj, first) {
						if (!first) {
							window.location.href = window.location.origin + window.location.pathname + '?pageNum=' + (obj.curr - 1)
						}
					}
				})
				$('.delBtn').click(function (e) {
					e.preventDefault()
					var _id = $(this).data('id')
					layer.confirm('确认要删除吗？', function () {
						window.location.href = '/shiyan/deleteQuest/' + _id
					})
				})
			})
		</script>
	</body>
</html>
