<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:with="title='资源更新'">
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
</head>
<body>
<div th:include="res/inc :: head" class="layui-row"></div>
<div class="x-nav" style="margin-bottom: 30px">
<span class="layui-breadcrumb" style="visibility: visible">
    <a th:href="@{|/admin/res/list|}">资源列表</a>
    <span lay-separator>/</span>
    <a><cite>资源更新</cite></a>
</span>
</div>
<div id="content" class="layui-fluid">
    <form class="layui-form" role="form" th:method="post" th:object="${res}" id="addForm">
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>res名称:</label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="class_collage" required=""
                       th:field="${res.name}"
                       lay-verify="nickname" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>res地址:</label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="class_major"
                       th:field="${res.permission}"
                       required="" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>res权限字符串:</label>
            <div class="layui-input-inline">
                <input type="text" id="L_pass" name="class_grade"
                       th:field="${res.permission}"
                       required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
        </div>
        <div class="layui-btn-container" style="margin-left: 130px">
            <input type="submit" class="layui-btn" value="更新资源"/>
            <input type="reset" class="layui-btn"/>
        </div>
    </form>
</div>
<script src="../../static/js/jquery-3.4.1.min.js" th:href="@{/js/jquery-3.4.1.min.js}" type="text/javascript"
        charset="utf-8"></script>
<script src="../../static/js/layui.all.js" th:href="@{/js/layui.all.js}" type="text/javascript"
        charset="utf-8"></script>
</body>
</html>