<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--var hasRoles = new Array();-->
            <!--console.log(hasRoles);-->
            <!--$(".hasRole").each(function () {-->
                <!--hasRoles.push($(this).val());-->
            <!--});-->
            <!--$(".rids").each(function () {-->
                <!--if ($.inArray($(this).val(), hasRoles) >= 0) {-->
                    <!--$(this).attr("checked", "checked");-->
                <!--}-->
            <!--});-->
        <!--});-->
        <!---->
    <!--</script>-->
    <!--<title>Title</title>-->

    <title>资源更新</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <link rel="stylesheet" href="../../static/css/layui.css">
    <script type="text/javascript" src="../../static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>-->
    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--var hasRoles = new Array();-->
            <!--console.log(hasRoles);-->
            <!--$(".hasRole").each(function () {-->
                <!--hasRoles.push($(this).val());-->
            <!--});-->
            <!--$(".rids").each(function () {-->
                <!--if ($.inArray($(this).val(), hasRoles) >= 0) {-->
                    <!--$(this).attr("checked", "checked");-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--</script>-->
</head>
<body>
<!--<div id="content">-->
    <!--<div th:include="res/inc :: head"></div>-->
    <!--<form role="form" th:method="post" th:object="${res}" id="updateForm">-->
        <!--<table width="800" cellspacing="0" cellPadding="0">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<td colspan="2">更新资源功能</td>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tr>-->
                <!--<td class="rightTd" width="200px">res名称:</td>-->
                <!--<td class="leftTd">-->
                    <!--<input path="name" size="30" th:field="${res.name}"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="rightTd">res地址:</td>-->
                <!--<td class="leftTd">-->
                    <!--<input path="sn" size="30" th:field="${res.url}"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td class="rightTd">res权限字符串:</td>-->
                <!--<td class="leftTd">-->
                    <!--<input path="sn" size="30" th:field="${res.permission}"/>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td colspan="2" class="centerTd"><input type="submit" value="更新资源"/><input type="reset"/></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</form>-->
<!--</div>-->

<div class="x-nav" style="margin-bottom: 30px">
          <span class="layui-breadcrumb">
            <a href="" th:href="@{|/admin/res/list|}">资源列表</a>
            <!--<a href="">XX</a>-->
            <a>
              <cite>资源更新</cite></a>
          </span>
</div>

<div class="layui-fluid" id="content">
    <!--<div th:include="res/inc :: head"></div>-->
    <div class="layui-row">
        <form class="layui-form"  role="form" th:method="post" th:object="${res}" id="updateForm">

            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    <span class="x-red">*</span>res名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="class_collage"
                           path="name" th:field="${res.name}"
                           required="" lay-verify="nickname" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>res地址：</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="class_major"
                           path="sn" th:field="${res.url}"
                           required="" lay-verify="nikename" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>res权限字符串：</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_pass"
                           path="sn" th:field="${res.permission}"
                           name="class_grade" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
            </div>

            <div class="layui-btn-container" style="margin-left: 130px">
                <input type="submit" class="layui-btn" value="更新资源"/>
                <input type="reset" class="layui-btn"/>
            </div>
        </form>
    </div>
</div>
<script src="../../static/js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'layer'], function () {
        var $ = layui.jquery,
            layer = layui.layer;

        $(function () {
            var hasRoles = new Array();

            console.log(hasRoles);
            $(".hasRole").each(function () {
                hasRoles.push($(this).val());
            });
            $(".rids").each(function () {
                if ($.inArray($(this).val(), hasRoles) >= 0) {
                    $(this).attr("checked", "checked");
                }
            });
        });   })
</script>

</body>
</html>